# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{ts,js,tsx,jsx,css}]
charset = utf-8
indent_style = space
indent_size = 2
quote_type = single

# Matches the exact files either package.json or yaml
[{package.json,*.yaml,*.yml}]
indent_style = space
indent_size = 2
